body {
	overflow-x: hidden;
}

.gyrolog {
	height: 400px;
}

img.forest {
	position: relative;
	left: -3000px;
	width: 6000px;
	max-width: 3000px;
}

.eyetracking {
	position: relative;
	height: 400px;
	
	video, canvas {
		position: absolute;
	}
}